@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    // background: url('./img/bg1.jpg');
    // background-color: #afaf95;
    background-color: rgba(235,233,249,1);
    opacity: 0.7;
    overflow-x: scroll;
     .page-content{
            top:15%;
            position: absolute;
            height:100%;
            width:80%;
            left:10%;
            background-color: rgba(147,206,222,1);
            padding: 25px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            a{
                color: #afaf95;
                float: left;
                padding: 10px 8px 3px 8px;
                font-size: larger;
                height: 35px;
                background-color: rgba(68, 68, 68, 0.8);
                text-decoration: none;
                border: thin solid #383835;
                }
                a:hover{
                    cursor:pointer;
                }
            li{
                display: block;
            }
            p{
                display: block;
                margin: 15px 0 0;
                color: #383835;
                font-size: 1.0em;
                text-align: left;
            }
            }
    #main-container{
        padding: 0 0 0 0 !important;
        .page{
            // display: block;
            // width: 100%;
        }
        .app-navigator{
            // height: 100%;
            // left: 0;
            // top: 0;
            // width: 100%;
            .app{
                // background-color: rgba(68,68,68,.8);
                // height: calc(100% - 50px);
                // width: 100%;
                // left: 0;
                // top: 50px;
            }
            .navigator{
                // background-color: rgba(68,68,68,.4);
                // height: 50px;
                // width: 100%;
                // left: 0;
                // top: 0;
                a{
                    color: #afaf95;
                    // float: left;
                    padding: 10px 8px 3px 8px;
                    font-size: larger;
                    height: 35px;
                    background-color: rgba(68, 68, 68, 0.8);
                    text-decoration: none;
                    border: thin solid #383835;
                }
            }
           
        }
    }
}
