@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-color: white;
    opacity: 0.7;
    overflow-x: scroll;
.navbar-fixed-left {
  width: 170px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  padding: 10px;
  .navbar-nav {
    > li {
      float: none;
      /* Cancel default li float: left */
      width: 139px;
    }
    > li > .dropdown-menu {
      margin-top: -50px;
      margin-left: 140px;
    }
  }
  + .container {
    padding-left: 100px;
  }
}

.container-fluid{
}
.nav .navbar-nav {
  min-height: 50px;
  background-color: #001f3f;
  font-size: 1.4em;
}
 .navbar-header{
    background: black;
  }
/* On using dropdown menu (To right shift popuped) */

/* make sidebar nav vertical */
@media (min-width: 768px) {
  
  .navbar-header{
    background: black;
  }
  .nav .navbar-nav{
    height: 200px;
  }
  .sidebar-nav .navbar {
    .navbar-collapse {
      padding: 0;
      height:100%;
    }
    ul {
      float: none;
      display: block;
    }
    li {
      float: none;
      display: block;

      a {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    a:hover {
        background-color:#0074D9;
        cursor: pointer;
    }
    }

  }
}
    .sidebar-nav {
       box-shadow: 0 0 20px 0 darkslateblue ;
  }
    .navbar-default{
        background-color: whitesmoke;
        border: 0;
      }
      .groupName {
        text-align: center;
        h3 {
          font-weight: 400;
        }
      }

.groups{
  display: inline;
  list-style-type: none;

  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 40%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
   input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  li {
    width: 95%;
  margin-bottom: 5px;
  background: white;
    padding: 10px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      &:hover, &:active, &:focus {
        height: 150px;
        width: 100%;
        -webkit-transition: all 2s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
    }
  }
}
.messages{
  width: 90%;
  text-align: left;
  margin-bottom: 20px;
  .messageBox{
    float: left;
    width: 80%;
  }
    #add {
      padding: 10px;
      font-size: x-large;
      cursor: pointer;
      font-weight: bolder;
    }
    #nameTag {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 8px;
      color: cornflowerblue;
    }
     #hide {
        float: right;
        font-weight: bolder;
        cursor: pointer;
      }
    .chatBox {
      width: 100%;
    }
    input {
    float: left;
    width: 90%;
  
  }
  .displayMessages{
    margin-bottom: 5%;
  }
  #sendButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    position: absolute;
    width: 60px;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
}
.form1{
  height: 550px;
  overflow: scroll;
  text-align: left;
  max-width: 500px;
  padding: 25px;  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form {
  text-align: left;
  max-width: 500px;
  padding: 55px;
  margin-left: 30%;
  // z-index: 1;

  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  .login input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .login button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
  .login {
    .modal button {
      width: 20%;
      background: #4CAF50;
      text-transform: lowercase;
      a { 
        width: 1px;
        color: #001f3f;
      }
    }

  }
  .message {
    margin: 15px 0 0;
    font-size: 12px;
    a {
      color: #4CAF50;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .register-form {
    display: none;
  }
}
     
}
