@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-color: white;
    background: url(https://res.cloudinary.com/dannytebj/image/upload/v1511027301/round_tgrzva.png);
    opacity: 0.9;
    width: 100%;
    height: 550px;
    #app {
      padding-bottom: 25px;
      height: 600px;
    }
.menu{
  padding-left: 5px;
}

.exTab1 {
  .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
  }
  .groupPane {
    margin-right: 10px;
    float: left;
    width: 200px;
  }
  .tab-content {
    color: black;
    background-color:rgba(66, 139, 202, 0.1 );
    padding: 5px 15px;
  }
}
.navbar-default .navbar-nav>li {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
.groupList {
  width: 95%;
  height: 50px;
  margin-bottom: 5px;
  padding: 10px;
    list-style: none;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  a {
  text-decoration: none;
  text-align: center;
  }
  }

/* On using dropdown menu (To right shift popuped) */

/* make sidebar nav vertical */
@media (min-width: 768px) {
  
}
      .groupName {
        text-align: center;
        h3 {
          font-weight: 400;
        }
      }
.add {
  float: right;
}
.groups{
  margin: auto;
  display: inline;
  list-style-type: none;
.names {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.groupUsers {
  background: whitesmoke;
  border-radius: 5px;
  color: black;
  padding: 20px;
  border: 1px solid skyblue;
  max-height: 150px;
  overflow: scroll;
  margin-left: 210px;
  .user-names {
  width: 95%;
  margin-bottom: 5px;
  padding: 10px;
  list-style: none;
  }
li {
  list-style: none;
}
}

  .grpButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 40%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
   .grpInput {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  
}
   .nameTag {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9px;
      color: black;
    }

   .timeTag {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9px;
      color: black;
      float: right;
    }
    .priorityTag {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9px;
      color: black;
      float: right;
    }
  .messageTray {
    background: #f2f2f2;
    color: black;
    padding: 20px;
    max-height: 400px;
    overflow: scroll;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  li{
    list-style: none;
  }
  }
.messages{
  width: 90%;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid green;
  .messageBox{
    float: left;
    width: 80%;
  }
    #add {
      padding: 10px;
      font-size: x-large;
      cursor: pointer;
      font-weight: bolder;
    }
 
     #hide {
        float: right;
        font-weight: bolder;
        cursor: pointer;
      }
    .chatBox {
      width: 100%;
    }
    input {
    float: left;
    width: 90%;
  
  }
 
  #sendButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    position: absolute;
    width: 60px;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
}
.form1{
  height: 550px;
  overflow: scroll;
  text-align: left;
  max-width: 500px;
  padding: 25px;  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form {
  text-align: left;
  max-width: 500px;
  padding: 30px;
  
.centered {
  text-align: center;
}
  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  .login input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .login button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
  .login {
    .modal button {
      width: 20%;
      background: #4CAF50;
      text-transform: lowercase;
      a { 
        width: 1px;
        color: #001f3f;
      }
    }

  }
  .message {
    margin: 15px 0 0;
    font-size: 12px;
    a {
      color: #4CAF50;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .register-form {
    display: none;
  }
}
.googleBut{
  .loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

  .loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39 !important;
  text-align: center !important;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
}

.displayMessages{
  height: 500px;
  overflow: scroll;
  margin-bottom: 5%;
}
.messageBoard{
   text-align: left;
  max-width: 500px;
  padding: 55px;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  li {
    width: 95%;
  margin-bottom: 5px;
  background: white;
    padding: 10px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      list-style: none;
  }
     button {
      background: #4CAF50;
      text-transform: lowercase;
      color:white;
      border: 0 none;
    }

  #sendButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    position: absolute;
    width: 60px;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }

}
.tab-pane {
  height: 400px;
  overflow: scroll;
}
footer {
  background: #222222;
  height:70px;
  padding:10px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.msgBox{
  margin-top: 5px;
}
.msgText {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
.searchTerm {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 12px;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.userLists {
  padding: 12px;
}
.addUserBody {
  height: 450px;
  overflow: scroll;
}
.dropdown {
  margin-top: 5px;
}
.messageArea{
  bottom: 100px;
  top: 1px;
}
.panel-body {
  padding-bottom: 20px;
}
.messageContainer {
margin-left: 35%;
margin-right: 1%;
margin-bottom: 8%;
}
.group-Users {
  margin-left: 35%;
}
.groupName {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
.para {
  padding: 25px;
  text-align: justify;
}
}
.toggler {
  margin-left: 78%;
  margin-bottom: 5px;
}
.pageHeaders {
  margin-left: 27%;
  width: 60%;
}
.headers {
  padding-left: 25%;
  font-weight: 600;
  color: whitesmoke;
}
.landings {
  padding: 40px;
  margin: 50px;
  font-size: 20px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: 250px;
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 550px;
  overflow: scroll;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

#sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: #999999;
      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    a {
      color: #999999;
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

@media (min-width: 568px) {
  #wrapper {
    padding-left: 250px;
    &.toggled {
      padding-left: 0;
    }
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
    // background-color:rgba(10, 122, 202, 0.4);
