@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-color: white;
    opacity: 0.7;
    width: 100%;
    height: 550px;
    #app {
      padding-bottom: 25px;
      height: 600px;
    }
.menu{
  padding-left: 5px;
}

.exTab1 {
  .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
  }
  .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
}
  .navbar-default .navbar-nav >li > a {
    display: inline-flex;
    &:hover {
      width: 100%;
      height: 40px;
    }
  }
/* On using dropdown menu (To right shift popuped) */

/* make sidebar nav vertical */
@media (min-width: 768px) {
  
}
      .groupName {
        text-align: center;
        h3 {
          font-weight: 400;
        }
      }

.groups{
  display: inline;
  list-style-type: none;
.names {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.groupUsers {
  display: none;
}
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 40%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
   input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  li {
  width: 95%;
  height: 50px;
  margin-bottom: 5px;
  padding: 10px;
    list-style: none;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  }
}
.messages{
  width: 90%;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid green;
  .messageBox{
    float: left;
    width: 80%;
  }
    #add {
      padding: 10px;
      font-size: x-large;
      cursor: pointer;
      font-weight: bolder;
    }
    #nameTag {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 8px;
      color: cornflowerblue;
    }
     #hide {
        float: right;
        font-weight: bolder;
        cursor: pointer;
      }
    .chatBox {
      width: 100%;
    }
    input {
    float: left;
    width: 90%;
  
  }
 
  #sendButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    position: absolute;
    width: 60px;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
}
.form1{
  height: 550px;
  overflow: scroll;
  text-align: left;
  max-width: 500px;
  padding: 25px;  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form {
  text-align: left;
  max-width: 500px;
  padding: 55px;
  
.centered {
  text-align: center;
}
  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  .login input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .login button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
  .login {
    .modal button {
      width: 20%;
      background: #4CAF50;
      text-transform: lowercase;
      a { 
        width: 1px;
        color: #001f3f;
      }
    }

  }
  .message {
    margin: 15px 0 0;
    font-size: 12px;
    a {
      color: #4CAF50;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .register-form {
    display: none;
  }
}
.googleBut{
  .loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

  .loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39 !important;
  text-align: center !important;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
}

.displayMessages{
  height: 500px;
  overflow: scroll;
  margin-bottom: 5%;
}
.messageBoard{
   text-align: left;
  max-width: 500px;
  padding: 55px;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  li {
    width: 95%;
  margin-bottom: 5px;
  background: white;
    padding: 10px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      list-style: none;
  }
     button {
      background: #4CAF50;
      text-transform: lowercase;
      color:white;
      border: 0 none;
    }
    input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  #sendButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    position: absolute;
    width: 60px;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }

}
footer {
  background: #222222;
  height:40px;
  padding:10px;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
}
     
}
